<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<header>
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
</header>

<div class="container">

  <!-- CONTENT -->
  <main>
    {{ content }}
  </main>

  <!-- SIDEBAR -->
  <aside>
    <h3>👤 About</h3>
    <p>Xin chào, mình là Hung 😎 Dev Flutter + Spring Boot</p>

    <h3>📂 Categories</h3>
    <ul>
      <li>Flutter</li>
      <li>Spring Boot</li>
      <li>Life</li>
    </ul>

    <h3>🔥 Recent Posts</h3>
    <ul>
      {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </aside>

</div>

<footer>
  <p>© 2026 Petrus Hung</p>
</footer>

</body>
</html>
